USE [master]
GO
/****** Object:  Database [bank]    Script Date: 04/15/2020 17:54:31 ******/
CREATE DATABASE [bank] ON  PRIMARY 
( NAME = N'bank', FILENAME = N'D:\sql server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\bank.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'bank_log', FILENAME = N'D:\sql server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\bank_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bank].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bank]
GO
/****** Object:  Table [dbo].[bankuser]    Script Date: 04/15/2020 17:54:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[bankuser](
	[username] [varchar](50) NOT NULL,
	[user_password] [varchar](50) NOT NULL,
	[user_money] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[user_record]    Script Date: 04/15/2020 17:54:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[user_record](
	[record_datetime] [datetime] NOT NULL,
	[username] [varchar](50) NOT NULL,
	[record_type] [varchar](10) NOT NULL,
	[record_money] [decimal](10, 2) NOT NULL,
	[goalname] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[record_datetime] ASC,
	[record_type] ASC,
	[goalname] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK__user_reco__usern__35BCFE0A]    Script Date: 04/15/2020 17:54:32 ******/
ALTER TABLE [dbo].[user_record]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[bankuser] ([username])
GO
